.button{
    cursor: pointer;
    font-family: "OpenSance";
    border-radius: 3px;
    border: none;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px!important;
    min-height: 40px;
}



