$--input-even-margin: 0 0 0 20px;
$--body-background: rgb(235, 235, 238);
$--header: 75px;
$--header-bg: white;
$--header-box-shadow: 0 0 3px lightgray;
$--main-spinner-bg: rgb(66, 204, 173);
$--page-loading-bg: rgb(66, 204, 173);
$--login-header-bg: white;
$--login-header-height: 75px;
$--login-header-box-shadow: 0 0 3px lightgray;
$--login-box-shadow: 0 0 1px lightgray;
$--login-box-bg: white;
$--main-header-height: 100px;
$--main-header-width: 992px;
$--main-header-bg: white;
$--main-header-box-shadow: 0 0 3px lightgray;
$--main-header-signout-icon-color: rgb(35, 65, 141);
$--main-header-link-color: rgb(35, 65, 141);
$--main-header-link-hover-color: rgba(35, 65, 141, 0.6);
$--main-header-link-active-color: rgb(35, 65, 141);
$--main-content-width: 992px;
$--app-item-footer-link-color: rgb(35, 65, 141);
$--mainform-bg: white;
$--mainform-box-shadow: 0 0 3px lightgray;
$--mainform-header-borderBottom: 1px solid whitesmoke;
$--mainform-header-fontSize: 23px;
$--mainform-header-circle-bg: rgb(66, 204, 173);
$--mainform-header-circle-fontSize: 25px;
$--mainform-header-circle-color: white;
$--actions-border: 0.5px solid lightgray;
$--notfound-404-color: rgb(66, 204, 173);
$--input-range-active-bg: rgb(66, 204, 173);
$--input-range-bg: rgb(66, 204, 173);
$--input-border-color: lightgray;
$--input-outline-color: rgb(66, 204, 173);
$--btn-success-bg: rgb(66, 204, 173);
$--btn-success-hover-bg: rgb(51, 183, 153);
$--btn-success-color: white;
$--btn-success-shadow: 0 0 5px rgb(66, 204, 173);
$--btn-warning-bg: rgb(255,138,0);
$--btn-warning-hover-bg: rgb(255,128,0);
$--btn-warning-color: white;
$--btn-warning-shadow: 0 0 5px rgb(255,138,0);
$--btn-primary-bg: #007bff;
$--btn-primary-hover-bg: #0074d9;
$--btn-primary-color: white;
$--btn-primary-shadow: 0 0 5px #0074d9;
$--btn-light-bg: lightgray;
$--btn-light-hover-bg: gray;
$--btn-light-color: black;
$--btn-light-shadow: 0 0 5px lightgray;