@import '../../public/css/global';

.mainForm{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background:$--mainform-bg;
    box-shadow:$--mainform-box-shadow;
    padding: 0 6% 6%;
    margin-top: 10px;

    .formHeader{
        height: 100px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        flex-direction: row;
        border-bottom: $--mainform-header-borderBottom;
        >span{
        font-size: $--mainform-header-fontSize;
        padding: 0 10px;
        }


        .formCircleIcon{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $--mainform-header-circle-bg;
            font-size: $--mainform-header-circle-fontSize;
            color:$--mainform-header-circle-color;
            flex-direction:row;
        }
    }
   
   .description{
    font-size: 14px;
    line-height: 2;
    padding-bottom: 20px;
    text-align: justify;
    direction: ltr;
    a{
        text-decoration: underline;
    }
   }

    .Submit{
        border-top: $--actions-border;
        height: 120px;
        align-items: center;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        .warning {
            background:$--btn-warning-bg;
            color: #fff;
        }
        .largBtn{
            min-height: 45px;
            padding: 0 20px!important;
            font-size: 17px;
        }
    }
}


